* {                       
    overflow: auto;             /* ligne pour gerer tout ce qui deborde de la page */
}

body {
    background-color: #8BA1BB ;
    font-family: Arial;
}

p.categorie {
    background-color: black ;
    color: white;
    display: inline-block;
    margin-top: -20px;
    padding: 8px 18px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 16px;
}


div.contenu {
    background-color: white;                              
    margin: 60px 10% 60px 10%;
    padding: 0px 30px 30px 30px;
    min-width: 350px;                   /* pour eviter que lorsqu'on reduit la page, les element bougent */
    box-shadow: 0px 0px 10px 8px rgba(0,0,0,0.2);
    overflow: visible;
}

h1 {
    text-align: center;
    margin-bottom: 12px;
    margin-top: 10px;
}

p.description {
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px
}

.center {
    text-align: center;
    width: 100%;                      /* pour dire que l'image occupe 100% de la fenetre */
}

div.categorie {
    margin-bottom: 0px;
    overflow: visible;
}

div.separateur {
    background-color: black;
    width: 100px;                    /* largeur de caractère */
    height: 1px;                     /* hauteur de caractère */
    margin-left: auto;               /* Auto sert a placer au mileu de la page, des element non texte */
    margin-right: auto;
}

div.info {
    position: relative;
}

table.info {
    position: absolute ;
    bottom:0 ;
    width: 100% ;
    color: white ;
    background-color: #6C829DC0;
    height: 80px
}

table.info td {                         /* pour parler uniquement des infos du tableau */
    text-align: center;
    font-size: 14px;
    vertical-align: top;

}

table.info th {                          /* pour parler uniquement des titres du tableau */
    font-size: 20px;
    vertical-align: bottom;
}    

img.info {
    display: block;
    max-height: 400px;
    object-fit: cover;               /* Pour faire un leger zoom de la photo, ronger les bord pour eviter la deformation */
    min-height: 300px;              /* Parametre qui va faire en sorte que si la photo n'est pas charger, le tableau ne se placera passur l'écriture*/
    background-color: grey;     /*On met un fond gris derrière la photo, si elle n'est pas charger, on as un fond gris */
}

div.colonne {
    width: 45%;         /* ici 45% + 45% des 2 colonnes, il reste 10%. Qu'on va mettre en marge a droite pour avoir la separation du milieu avec le border */
    margin-top: 20px;
}    

div.colonne h2 {
    text-align: center;
    text-transform: uppercase;            /* transformer le texte en majuscules */
    font-size: 15px;
    border-bottom: 10px solid #6C829D;
    padding: 5px;
}

div.colonne1 {
    display: inline-block;
    margin-right: 10%;
}

div.colonne2 {
    float: right;   
}

div.ingredients p {
    text-align: center;
    font-size: 14px;
    border: 1px solid lightgrey;
    padding: 8px 0;
    margin-top: 4px;
    margin-bottom: 0px
}

table.preparation p.numero {           /* On joue que sur les numero des colonnes de la table */
    background-color:#6C829D;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;         /* sert a avoir l'effet de bulles dans les numeros */
    margin-top: 0px;

}

table.preparation td {
    vertical-align: top;
}

table.preparation td.preparation_etape {
    font-size: 14px;
    padding-left: 20px;
    padding-bottom: 30px;
}

table.preparation tr {
    height: 40px;
}

